* {
  margin: 0;
  font-family: sans-serif;
  font-weight: 900;
}

.bg {
  background-color: black;
}
.bg2 {
  background-color: azure;
}
.article {
  color: red;
}
.front {
  transform-origin: 50% 100%;
  height: 91%;
}
.front:hover {
  animation-name: wave;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
.about {
  color: darkgreen;
  margin-top: 25px;
}
.heading {
  margin-bottom: 10px;
  align-items: center;
  margin-left: 40px;
  font-style: initial;
  margin-top: 20px;
}
.heading2 {
  margin-left: 40px;
  font-style: italic;
  font-weight: lighter;
}
.projectitem {
  display: block;
  list-style-type: none;
}

.bacpic {
  width: 400px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.bacpic img {
  width: 100%;
  height: 200px;
}
/* defining the animation that will be attached to the img element */
@keyframes wave {
  0% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(30deg);
  }
}
.quote {
  font-size: larger;
  color: #b994b9;
}
.menu {
  display: flex;
  align-items: center;
  margin: 0;
  list-style-type: none;
  background-color: #b994b9;
  height: 50px;
}

/* to target a child element E.g. the li inside an ul with a class of .menu */
.menu li a {
  color: black;
  margin: 0 16px 0 16px;
  text-decoration: none;
}
#nm {
  font-size: 102px;
  color: #ee6400;
  font-family: "Dancing Script", cursive;
}

#nm2 {
  font-size: 68px;
  color: #eeca00;
  margin-top: -20px;
}
#nm3 {
  font-size: 68px;
  color: #b994b9;
  margin-top: -20px;
}
.a {
  display: flex;
  justify-content: center;
  height: 100%;
}

.b {
  /* border: 2px solid blue; */
  display: flex;
  width: 80%;
}

.c {
  /* border: 2px solid red; */
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.d {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: inherit;
}
